html,body{
   padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
	background-image: url(../img/pandas_1920x1200.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a{
	color: #000;
	text-decoration: none;
}
div{
	/* border: solid red 1px; */
}
#LOG{
	color: green;
}
#logo_l{
	color: blue;
}
#logo_o{
	color: pink;
}
#logo_g{
	
}
#logo_o_2{
	color: yellow;
}
.top{
	/* clear: both; */
	height: 65px;
	top: 0;
	/* padding: 0; */
	position: fixed;
	width: 100%;
	overflow: hidden;

}
.topfont{
	clear: both;
	margin-top: 0;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	border-radius: 30px;
	background-color:rgba(173,216,230, 0.4);
	transition: background-color 0.6s;
}
.topfont:hover{
	background-color:rgba(173,216,230, 0.8);
	/* background: linear-gradient(); */
}
#dh{
	font-size: 25px;
	transition:transform 1s;
}
#dh:hover{
	display: inline-block;
	transform: rotatey(360deg);
}
.top li{
	/* text-align: center; */
	float: left;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	/* width: 30px; */
	display: inline-block;
	/* overflow: hidden; */
	/* transition:width 0.6s; */
}
.li{
	width: 30px;
	transition:width 0.6s;
}
.li:hover{
	border-radius: 60px;
/* 	background-color: red; */
	width: 130px;
}
#li1:hover{
	width: 100px;
	background-color: rgba(83,172,242, 0.6);
}
#li2:hover{
	background-color: rgba(48,255,228, 0.6);
}
/* #li2 span:hover{
	color: hotpink;
} */
#li3:hover{
	background-color: rgba(137,226,182, 0.8);
}
#li4:hover{
	background-color: rgba(186,100,213, 0.8);
}
#li5:hover{
	background-color: rgba(216,158,180, 0.8);
}
#li6:hover{
	background-color: rgba(193,205,174, 0.8);
}
#li7:hover{
	background-color: rgba(163,251,171, 0.8);
}


.main{
	/* height: 500px; */
	margin: 85px 0 25px 0;
	/* overflow: hidden; */
	clear: both;
}
#jiayuan{
	/* display: inline-block; */
	text-align: center;
	background-color: rgba(83, 195, 188, 0.9);
	width: 200px;
	height: 60px;
	line-height: 60px;
	margin: auto;
	border-radius: 40px;
}
.p1{
	width: 350px;
	height: 230px;
	border-radius: 60px;
	/* overflow: hidden; */
	transition: transform 0.3s ease;
}
.p1:hover{
	transform: scale(1.2);
}
ul{
	overflow: hidden;
}
.main li{
	margin-top: 20px;
	display: inline-block;
	/* overflow: hidden; */
	/* margin: auto 5px; */
	float: left;
}
.main li img{
	border-radius: 60px;
	width: 340px;
	height: 230px;
}
#pic_t{
	margin: 20px auto;
	width: 150px;
	height: 60px;
	line-height: 60px;
	border-radius: 60px;
	background-color: rgba(83, 195, 188, 0.4);
	transition: transform 0.3s ease;
}

#pic_t:hover{
	transform: scale(1.5);
	background-color: rgba(83, 195, 188, 0.9);
}
#pic_t span{
	font-size: 10px;
}
#pic_t h3{
	text-align: center;
}
.main1{
	padding-bottom: 20px;
	clear: both;
	overflow: hidden;
	/* width: 100px; */
	/* height: 100px; */
}
.p1{
	/* margin-right: 10px; */
}


.main2{
	/* overflow: hidden; */
	margin-top: 50px;
	clear: both;
	/* height: 200px; */
}
.main1 ul{
	margin-right: 30px;
	
}
.main2_d{
	overflow: hidden;
	height: 350px;
	margin-top: 20px;
}
.main2_d img{
	width: 480px;
	
}
#main2_1_t h3,#main2_3_t h3{
	font-size: 30px;
	margin-left: 80px;
}
.main2_d p{
	text-indent: 1cm;
	margin: 50px;
	font-weight: bold;
	font-size: 20px;
}
#main2_1_p,#main2_3_p{
	float: left;
	margin-left: 100px;
	border-radius: 50px 0 0 0;
	width: 450px;
	height: 350px;
	overflow: hidden;
}
#main2_1_t,#main2_3_t{
	float: left;
	background-color: rgba(173,216,230, 0.2);
	border-radius: 0 0 50px 0;
	height: 350px;
	width: 800px;
	transition: background-color 0.6s ease;
}

#main2_2_t,#main2_4_t{
	/* margin-right: 50px; */
	float: left;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0 50px 0 50px;
	height: 350px;
	width: 800px;
	transition: background-color 0.6s ease;
}
#main2_2_t h3,#main2_4_t h3{
	font-size: 30px;
	margin-left: 600px;
}
#main2_2_p,#main2_4_p{
	float: right;
	/* margin-right: 100px; */
	border-radius: 0 50px 0 50px;
	width: 450px;
	height: 350px;
	overflow: hidden;
}
#main2_1_t:hover,#main2_3_t:hover,
#main2_2_t:hover,#main2_4_t:hover{
	background-color: rgba(173,216,230, 0.8);
}
#main2_2,#main2_4{
	margin: 20px auto;
	width: 1280px;
}



.footer {
	width: 100%;
	height: 60px;
	text-align: center;
	font-weight: bold;
	background-color: #1a1a1a;
    bottom: 0;
    left: 0;
    right: 0;
	padding-top: 20px;
	padding-bottom: 30px;
	/* position:fixed; */
	overflow: hidden;
}

.font02 li,.font02 a{
	display:inline-block;
	color: #bb7e08;
}

.span01 {
	color: #343c24;
	margin-left: 5px;
	margin-right: 5px;
}